<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="css/basicLayout.css" />
    <title>Final Project AGS</title>

  </head>
  <body>
    <div class="container-fluid">
      <header>
        <a id="homebutton" class="btn btn-primary float-right" href="client.html" role="button">HOME</a>
        <div id="headerdiv" class="row">
          <nav class="navbar navbar-expand-lg navbar-light" id="banner">
          <span id="headerName">Alternative Green System</span>
          </nav>
      </div>
      </header>
      </div>

      <h1 class="pagetitle">Client Notes</h1>
    <main >

      <div class="card" id="notesMain">

        <h3>Notes for: {{clientName}}</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <!-- <th>Client Name</th> -->
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="n in notesList">
                <!-- <td>{{n.clientName}}</td> -->
                <td>{{n.notes}}</td>
                </tr>
              </tbody>
            </table>
<div class="card-body" >
          <h3>Add New Notes</h3>

                  <form @submit.prevent="handleNotesForm">
                    <div class="form-group row">
                        <textarea rows="10" cols="45" id="note" v-model="notesForm.notes"></textarea>
                    </div>

                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="submit" class="btn btn-primary" id="submitNewNote">Add New Notes</button>
                  </form>

</div>
      </div>



    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/notes.app.js"></script>

  </body>
</html>
